<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfoilo</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
  </head>
  <body>
    <nav>
      <a id="home" href="/">Home</a>
      <a href="/projects">projects</a>
      <a href="/contact">contact</a>
    </nav>
    <section id="main">
      <h1>Min Okkar</h1>
      <p id="text"></p>
    </section>
    <footer>
      <p><i class="arrow up"></i></p>
      <div id="app"></div>
      <a href="https://github.com/MinOkkar" target="_blank">
        <i class="devicon-github-original"></i>
      </a>
      <a href="https://www.linkedin.com/" target="_blank">
        <i class="devicon-linkedin-plain"></i>
      </a>
      <p>@2025 Min Okkar</p>
    </footer>
    <script src="/script/index.js"></script>
  </body>
</html>
