section {
  top: 9;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
}

h1 {
  color: rgba(255, 255, 255, 0.5);
}

#text {
  font-size: 5vh;
  padding-bottom: 10%;
  height: 3vh;
}
